<form action="" class="form-horizontal" method="get" {{ form_enctype(form) }} novalidate >
    {{ form_errors(form.id) }}
    <div class="form-group" style="display: none;">
        {{ form_label(form.id, "ID", { 'label_attr': { 'class': 'col-sm-3 control-label' }}) }}
        <div class="col-sm-9">
            {{ form_widget(form.id, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un identifiant'} }) }}
        </div>
    </div>

    {{ form_errors(form.name) }}
    <div class="form-group">
        {{ form_label(form.name, "Nom", { 'label_attr': { 'class': 'col-sm-3 control-label' }}) }}
        <div class="col-sm-9">
            {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez un nom'} }) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="Rechercher">
        </div>
    </div>
</form>