<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
        <div class="menu-content top" id="menu-content-demo">
            <div>
                <div class="text-bg"><span class="text-slim">Bienvenue !</span></div>

                <img src="{{ asset('bundles/admin/demo/signin-bg-8.jpg') }}" alt="" class="">
                <div class="btn-group">
                    <a href="{{ path('fos_user_security_logout') }}" title="Déconnexion" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
                </div>
            </div>
        </div>
        <ul class="navigation">
            <li id="nav-dashboard">
                <a href="{{ path('admin_homepage') }}"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Tableau de bord</span></a>
            </li>
            <li id="nav-examples">
                <a href="{{ path('admin_example_list') }}"><i class="menu-icon fa fa-heart"></i><span class="mm-text">Exemples</span></a>
            </li>
            <li id="nav-users">
                <a href="{{ path('admin_user_list') }}"><i class="menu-icon fa fa-users"></i><span class="mm-text">Utilisateurs</span></a>
            </li>
        </ul>
    </div> <!-- / #main-menu-inner -->
</div> <!-- / #main-menu -->
<!-- /4. $MAIN_MENU -->